- name: Fetch DB credentials from Vault
  set_fact:
    db_creds: >-
      {{ lookup(
        'hashi_vault',
        'secret=secret/data/dev/db token=root url=http://127.0.0.1:8200'
      ) }}

- name: Generate .env file from template
  template:
    src: config.env.j2
    dest: /opt/app/.env
    owner: root
    group: root
    mode: '0644'
  vars:
    db_creds: "{{ db_creds }}"

- name: Remove existing container if present
  docker_container:
    name: iac-app
    state: absent
    force_kill: yes

- name: Remove existing image if present
  docker_image:
    name: iac-app
    state: absent
  ignore_errors: yes

- name: Build Docker image
  docker_image:
    name: iac-app
    source: build
    build:
      path: /opt/app

- name: Run Docker container
  docker_container:
    name: iac-app
    image: iac-app
    state: started
    restart_policy: always
    ports:
      - "5001:5000"

- name: Remove dangling Docker images
  docker_prune:
    images: yes
